<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528328929295-onkj5dehs87mqr4trjobg3od6ea5guqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528328929295-onkj5dehs87mqr4trjobg3od6ea5guqr</string>
	<key>API_KEY</key>
	<string>AIzaSyAc47icFNPRp6nRnhjce3YLhiCgYJ86MzE</string>
	<key>GCM_SENDER_ID</key>
	<string>528328929295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tes</string>
	<key>PROJECT_ID</key>
	<string>coba-7629a</string>
	<key>STORAGE_BUCKET</key>
	<string>coba-7629a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528328929295:ios:a2000c831ed3127e8cb37a</string>
</dict>
</plist>